{% extends "base.html" %} {% block title %} Home Page {% endblock title %}
<br />
{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Image on the Left Half -->
    <div class="col-md-12 col-lg-6 col-sm-12">
      <img
        src="https://media.istockphoto.com/id/1465124899/photo/amtrak-coast-starlight-train-at-sunset-time.webp?b=1&s=170667a&w=0&k=20&c=J9S4au8KlWRwCnMGyanMPlcVQMsUJ32BF0ivSS5kX4k="
        alt="Book Haven Image"
        class="img-fluid"
      />
    </div>

    <!-- Text on the Right Half -->
    <div class="col-md-12 col-lg-6 col-sm-12">
      <div class="d-flex align-items-center h-100">
        <div>
          <h2>Welcome to TrainEase</h2>
          <p class="lead">
            Introducing Train Ease, where your journey begins with simplicity
            and ends with satisfaction! Unleash the power of hassle-free train
            bookings as we redefine your travel experience.
            <br />
            Our user-friendly website is your one-stop destination for seamless
            rail reservations, ensuring a smooth ride from start to finish.
            Embark on a stress-free adventure with Train Ease – the epitome of
            convenience in train travel. We understand the value of your time
            and have crafted a platform that effortlessly navigates through the
            complexities of booking train tickets. Experience the ease of a few
            clicks, and you're on your way to exploring the world by rail.
            <br />
            Why choose Train Ease? We offer a vast array of options, enabling
            you to choose the perfect train that aligns with your schedule and
            preferences. Our intuitive interface provides real-time updates on
            ticket availability, ensuring that you never miss out on your
            preferred journey. Say goodbye to long queues and frustrating
            booking processes – Train Ease puts you in control, allowing you to
            plan your travel effortlessly.
            <br />
            At Train Ease, we prioritize your comfort and convenience. With
            secure payment options and transparent pricing, you can book your
            tickets with confidence. Our commitment to customer satisfaction
            extends beyond the booking process, as we provide reliable customer
            support to assist you at every step of your journey.
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
