{% extends "base.html" %} {% block title %} Home Page {% endblock title %}
<br />
{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Image on the Left Half -->
    <div class="col-md-6">
      <img
        src="https://media.istockphoto.com/id/1465124899/photo/amtrak-coast-starlight-train-at-sunset-time.webp?b=1&s=170667a&w=0&k=20&c=J9S4au8KlWRwCnMGyanMPlcVQMsUJ32BF0ivSS5kX4k="
        alt="Book Haven Image"
        class="img-fluid"
      />
    </div>

    <!-- Text on the Right Half -->
    <div class="col-md-6">
      <div class="d-flex align-items-center h-100">
        <div>
          <h2>Welcome to TrainEase</h2>
          <p class="lead">
            Trains, with their rhythmic chugging and interconnected carriages,
            symbolize more than just a mode of transportation; they embody a
            fascinating blend of history, engineering marvels, and societal
            progress. These metal behemoths, propelled by the elemental force of
            steam or the efficiency of electricity, have played a pivotal role
            in shaping the modern world.
            <br />

            From the early days of steam locomotives in the 19th century to the
            sleek, high-speed trains of today, the evolution of trains mirrors
            the evolution of societies. They were instrumental in the Industrial
            Revolution, catalyzing economic growth by facilitating the swift
            movement of goods and people. The rhythmic clatter of wheels on
            tracks became a soundtrack to progress, echoing across vast
            landscapes and through bustling city centers.
            <br />

            Trains are not merely vessels of transit; they are time capsules
            hurtling through history. Each train journey becomes a narrative,
            connecting passengers to the past, present, and future. As they
            traverse diverse terrains and climates, trains provide a dynamic
            window into the changing tapestry of landscapes outside the window.
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
