{% extends "base.html" %} {% block title %} All Trains List {% endblock title %}
{% block content %}
<div class="container-fluid mt-5">
  <div class="dropdown text-center mb-4">
    <div class="col-md-12">
      <h3 class="list-group">
        <a
          href="{% url 'train_list' %}"
          class="list-group-item list-group-item-action text-center"
        >
          Show All Trains
        </a>
      </h3>
    </div>
    <h5 class="text-center text-white my-3">Search By Station</h5>
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Choose Station
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for station in station_list %}
      <a
        class="dropdown-item"
        href="{% url 'train_list_by_category' station.slug %}"
      >
        {{ station.name }}
      </a>

      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        {% if trains %} {% for train in trains %}
        <div class="col-sm-6 col-lg-3 col-md-4 mb-5">
          <div class="card m-2 h-100">
            <div class="card-body d-flex align-items-center">
              <div class="mx-auto">
                <h4 class="card-title pt-2 text-center">
                  <a href="" class="text-decoration-none text-dark">
                    {{ train.name }}
                  </a>
                </h4>

                <p class="text-center">
                  From
                  <b>{{ train.from_station }}</b>
                  To
                  <b>{{ train.to_station }}</b>
                </p>
                <p class="text-center">
                  Departure : {{ train.departure | time:"h:i a" }}
                </p>
                <div class="text-center">
                  <a
                    class="btn btn-primary text-white text-center"
                    href="{% url 'train_details' train.id %}"
                  >
                    See Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %} {% else %}
        <h2 class="text-center">No Results Found</h2>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
